In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('/Users/shriyapattapu/Average_Salary_by_Job_Classification.csv')
df_2 = pd.read_csv('/Users/shriyapattapu/controlledexperiment.csv')

In [2]:
# Cleaned Dataframe
df = df.replace({'\$': ''}, regex=True) 
df = df.replace({'\,': ''}, regex=True) 
df['Average of Base Salary'] = df['Average of Base Salary'].astype(float)
df['Grade'] = pd.to_numeric(df['Grade'], errors='coerce')
df = df.dropna()
df['Grade'] = df['Grade'].astype(int)
df.head()

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:3: SyntaxWarning: invalid escape sequence '\,'
<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:3: SyntaxWarning: invalid escape sequence '\,'
/var/folders/9q/rmwtnl614cz0kwkv_mbv5h780000gn/T/ipykernel_48116/3830997709.py:2: SyntaxWarning: invalid escape sequence '\$'
  df = df.replace({'\$': ''}, regex=True)
/var/folders/9q/rmwtnl614cz0kwkv_mbv5h780000gn/T/ipykernel_48116/3830997709.py:3: SyntaxWarning: invalid escape sequence '\,'
  df = df.replace({'\,': ''}, regex=True)

,Position Title,Position Class Code,Grade,Average of Base Salary,Number of Employees
0,Information Technology Expert,550,32,146925.34,9
1,Accountant/Auditor II,210,21,82742.44,2
2,Veterinary Assistant,206513,15,45925.44,2
3,Police Aide,3506,15,58628.63,15
4,ERP Functional Business Analyst,100546,30,133797.25,3

In [3]:
# Random Sampling
np.random.seed(123) 
random_indices = np.random.uniform(0, len(df), 35).astype(int)
df = df.iloc[random_indices]

In [4]:
#Sample Means - Does having a higher salary mean that your job is a higher grade? 
#Base Salary 
y_bar = round(df['Average of Base Salary'].sum()/len(df),2)
y_bar

np.float64(80301.82)

In [5]:
#Grade
x_bar = round(df['Grade'].sum()/len(df),2)
x_bar

np.float64(19.8)

In [6]:
#Covariance Calculation 
summation = 0
for x, y in zip(df['Grade'], df['Average of Base Salary']):
    summation += (x - x_bar) * (y - y_bar)

covariance = summation / (len(df) - 1)
print(covariance)

156300.1322941177

In [7]:
# Question 1 Covariance and Mean Calculations 
# Social Media Use
x_bar2 = round(df_2['X'].sum()/len(df_2),2) 
# How productive they feel 
y_bar2 = round(df_2['Y'].sum()/len(df_2),2)
summation1 = 0
for x, y in zip(df_2['X'], df_2['Y']):
    summation1 += (x - x_bar2) * (y - y_bar2)

covariance = summation1 / (len(df_2) - 1)
print(covariance)

-0.7499999999999996

In [8]:
x_bar2

np.float64(3.66)

In [9]:
df

,Position Title,Position Class Code,Grade,Average of Base Salary,Number of Employees
221,Supervisory Social Worker,2805,26,107157.49,31
92,Insurance Fund Manager,206,26,115099.00,1
73,Library Associate,1191,18,61301.28,8
176,Information Technology Project Manager,549,40,182075.00,1
228,Supply Technician II,9236,12,63705.59,3
135,Public Safety Emergency Communications Supervisor,103092,23,85704.88,16
311,Imaging Operator Leader,109009,14,59682.11,1
217,Printing Technician III,5175,16,68103.36,5
153,Driver/Clerk,1168,12,48522.53,6
125,Permitting and Code Enforcement Inspector II,2216,21,84786.86,3
110,Accountant/Auditor III,211,23,97574.06,26
231,Photographic/Digital Image Technician,3512,18,65863.93,1
140,Mechanic Technician II,5009,19,80945.85,95
18,Public Safety Instructor,3516,20,85347.94,3
127,Psychologist,2501,29,132277.69,3
234,Manager Taxicab Regulation and Special Transit...,4454,26,88701.63,1
59,Correctional Specialist V,3246,26,113647.77,3
57,Property Manager I,5311,21,90848.00,1
170,Customer Service Representative II,878,16,60075.63,28
170,Customer Service Representative II,878,16,60075.63,28
201,Safety and Training Supervisor,104463,21,79446.52,2
270,Public Safety Reporting Aide II,3504,18,67443.51,3
230,Income Assistance Program Specialist I,2013,17,51013.58,3
194,Equipment Services Coordinator,5005,24,104680.00,4
228,Supply Technician II,9236,12,63705.59,3
103,Mail Clerk,5190,11,52205.21,7
115,Mechanic Instructor,5008,21,89378.87,3
73,Library Associate,1191,18,61301.28,8
94,Animal Care Attendant,203511,14,46312.18,11
200,Registered Veterinary Technician,206512,19,58568.92,2
31,Welder,5017,18,78902.00,3
138,Animal Care Attendant Supervisor,103510,19,61589.44,2
137,Community Outreach Manager,192,28,113240.32,8
159,Program Specialist I,837,18,72509.52,55
136,Refuse Disposal Cashier,4321,13,58770.52,6